@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
:root{
--Cyan: hsl(179, 62%, 43%);
--light-cyan: #4ABEBD;
--BrightYellow: hsl(71, 73%, 54%);
--LightGray: hsl(204, 43%, 93%);
--GrayibhBlue: rgb(152, 166, 189);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Karla', sans-serif;
    background-color: var(--LightGray);
    display: grid;
    place-items: center;
    padding: 3rem 0;
    min-height: 100vh;
    position: relative;
}
footer {
    position: absolute;
    bottom: 1rem;
}
ul{
    list-style: none;
    padding: 0;
}
.box-one{ 
    background-color: white;
}
h1{
    color: var(--Cyan);
    font-size: 1.6rem;
}

.box-one h2{
    margin-bottom: 1rem;
    color: var(--BrightYellow);
    font-size: 1.15rem;
}
h3{
    color: var(--GrayibhBlue);
    font-size:1.2rem;
}
.container{
background: var(--Cyan);
width: 100%;
font-size: 1rem;
}
.box-one p {
    color: var(--GrayibhBlue);
    line-height: 1.8;
    width: 90%;
}
.main{
    background-color: var(--light-cyan);

}
button{
    all: unset;
    background: var(--BrightYellow);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;

    width: 76%;
    text-align: center;
    box-shadow: 0 5px 10px #0002;
    margin-top: 1.5rem;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 26rem;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: 0.5px 10px #0002;
}
.price-block {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    line-height: 1.2;
    margin-top: .6rem;
}
.price {
    font-size: 2rem;
    font-weight: 700;
    word-spacing: -0.4rem;
    margin-right: 0.2rem;
}
li {
    font-size: .8rem;
    color: var(--LightGray);
    line-height: 1.7;
}
.container, .main {
    color: white;
}

main > div {
    padding: 2rem;
}

@media (min-width: 900px) {
    body {
        padding: 0;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 41rem;
    }
    .box-one {
        grid-column: span 2;
    }
}